@model IEnumerable<ShortLink.Models.Url>
@{
    ViewBag.Title = "Home Page";
}

<h3>Сервис генерации коротких ссылок</h3>


<form id="addUrl">
    <input id="url" type="text" placeholder="Оригинальная ссылка" name="longUrl" />
    <input type="submit" value="Сократить" />
</form>
<br />

<table>
    <thead>
        <tr>
            <th>Оригинальная ссылка</th>
            <th>Дата создания</th>
            <th>Короткая ссылка</th>
            <th>Число переходов</th>
        </tr>
    </thead>
    <tbody id="links">
       @Html.Partial("_Links", Model)
    </tbody>
</table>

@section scripts {
    @Scripts.Render("/Scripts/main.js")
}


